$theme-colors: (
    "primary":blue,
    "secondary": grey,
    "success": #A7BEAE,
    "danger": #B85042,
    "warning": #E7E8D1,
    "info": brown,
    "light": white,
    "dark": black,
    "muted": grey,
    "white":  white,
);

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

@import "node_modules/bootstrap/scss/bootstrap";
